/* line 1, ../../../../Code/Project7/scss/base/_typography.scss */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Anonymous Pro', monospace;
}

/* line 8, ../../../../Code/Project7/scss/base/_typography.scss */
a {
  text-decoration: none;
  color: #7477bf;
}

/* line 12, ../../../../Code/Project7/scss/base/_typography.scss */
header {
  grid-area: header;
  width: 100%;
  height: 80px;
  background-color: #7477bf;
  color: white;
  display: grid;
}

/* line 21, ../../../../Code/Project7/scss/base/_typography.scss */
.header-container {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 2fr;
  align-items: center;
}

/* line 27, ../../../../Code/Project7/scss/base/_typography.scss */
header span {
  font-weight: 100;
}

/* line 31, ../../../../Code/Project7/scss/base/_typography.scss */
#bellIcon {
  width: 25px;
  justify-self: center;
}

/* line 36, ../../../../Code/Project7/scss/base/_typography.scss */
#header-img {
  width: 40px;
  border-radius: 50%;
  justify-self: center;
}

/* line 42, ../../../../Code/Project7/scss/base/_typography.scss */
.studentName,
header h1 {
  justify-self: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 grey, 1px 1px 0 grey;
}

/* line 48, ../../../../Code/Project7/scss/base/_typography.scss */
.studentName {
  justify-self: center;
  font-size: 13.5px;
}

/* line 53, ../../../../Code/Project7/scss/base/_typography.scss */
hr {
  margin: 25px;
}

/* ===================================== */
/*              Body                     */
/* ===================================== */
/* line 61, ../../../../Code/Project7/scss/base/_typography.scss */
.new-members,
.recent-activity,
.message-user,
.settings {
  border-top: 1px solid black;
  padding: 10px;
}

/* ===================================== */
/*              Social Stats             */
/* ===================================== */
/* line 72, ../../../../Code/Project7/scss/base/_typography.scss */
.facebook-stats,
.instagram-stats,
.twitter-stats {
  border: 2px solid #d1d1d1;
  border-radius: 10px;
  width: 90%;
  margin: 20px auto;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
}

/* line 84, ../../../../Code/Project7/scss/base/_typography.scss */
#facebook-text-header,
#instagram-text-header,
#twitter-text-header {
  font-size: 1.25rem;
  color: #7477bf;
}

/* line 92, ../../../../Code/Project7/scss/base/_typography.scss */
#facebook-text-number,
#instagram-text-number,
#twitter-text-number {
  font-size: 2rem;
  color: #777777;
}

/* ===================================== */
/*              New Members              */
/* ===================================== */
/* line 103, ../../../../Code/Project7/scss/base/_typography.scss */
.styleTag {
  text-align: center;
}

/* line 108, ../../../../Code/Project7/scss/base/_typography.scss */
#new-members-header,
#recent-activity-header {
  margin-bottom: 20px;
}

/* ==================================== */
/*               Recent Activity         */
/* ===================================== */
/* line 1, ../../../../Code/Project7/scss/components/_navigation.scss */
nav {
  grid-area: nav;
  background-color: #4d4c72;
  display: flex;
  max-height: 80px;
}

/* line 8, ../../../../Code/Project7/scss/components/_navigation.scss */
.navigation,
a {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

/* line 15, ../../../../Code/Project7/scss/components/_navigation.scss */
.navigation {
  align-items: center;
  padding: 25px;
}

/* line 18, ../../../../Code/Project7/scss/components/_navigation.scss */
.navigation a {
  padding: 15px;
}

/* line 1, ../../../../Code/Project7/scss/components/_grid.scss */
main {
  grid-area: main;
}

/* line 5, ../../../../Code/Project7/scss/components/_grid.scss */
.grid-container {
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "header header" "nav nav" "main main";
}

/* line 14, ../../../../Code/Project7/scss/components/_grid.scss */
body {
  display: grid;
}

/* line 1, ../../../../Code/Project7/scss/components/_images.scss */
#vcImage,
#dbImage,
#dwImage,
#doImage {
  border-radius: 50%;
  width: 80px;
}

/* ===================================== */
/*              Social Stats             */
/* ===================================== */
/* line 14, ../../../../Code/Project7/scss/components/_images.scss */
.facebook-image,
.instagram-image,
.twitter-image {
  width: 90px;
  padding: 20px;
}

/*# sourceMappingURL=style.css.map */