@media (min-width: 768px) {
  h3 {
    padding-left: 15px;
  }
  body {
    display: grid;
  }
  .grid-container {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "header header"
      "nav main";
  }
  header {
    display: flex;
    h1 {
      padding-left: 0.938rem;
      padding-right: 26.25rem;
    }
  }
  .nav-container {
    grid-row-start: 2;
    grid-column-start: 1;
  }
  nav {
    display: table-cell;
    height: 169.8rem;
  }
  .navigation {
    display: inline;
  }
  .light-grey-tab {
    width: 80%;
  }
  .traffic-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  li {
    padding: 10px;
  }
  #traffic-header {
    padding-left: 10px;
  }
  .social-stats {
    display: flex;
  }
  .facebook-stats {
    margin: 10px 5px 10px 10px;
  }
  .instagram-stats {
    margin: 10px 5px 10px 5px;
  }
  .twitter-stats {
    margin: 10px 10px 10px 5px;
  }
  .new-members {
    display: flex;
    flex-direction: column;
    img {
      padding-right: 15px;
    }
  }
  #Victoria-Chambers,
  #Dale-Byrd,
  #Dawn-Wood,
  #Dan-Oliver {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

}
