@media (min-width: 768px) {
    body {
        display: grid;
    }
  .grid-container {
        grid-template-columns: 150px 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "header header"
        "nav main"
        ;
 }

 nav {
     display: block;
     max-width: 100%;
 }
 .nav-container {
     grid-row-start: 2;
     grid-column-start: 1;
 }
 .navigation {
     
 }
}

// nav {
//     display: table;
// }
//  .navigation {
//      display: grid;
//     grid-column: 1/2;
//     grid-row: 2/3;
//     nav a {
//         display: grid;
//         grid-column: 1/2;
//         grid-row: 2/3;
//   }
//  } 