nav {
    grid-area: nav;
    background-color: $light-purple;
    display: flex;
    max-height: 60px;
}

.navigation {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding: 25px;
        a {
            display: flex;
            flex-grow: 1;
            padding: 15px;
            height: 4rem;
            justify-content: center;
        }
}