nav {
    grid-area: nav;
    background-color: $light-purple;
    display: flex;
    max-height: 65px;
}

.navigation, 
a {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.navigation {
align-items: center;
padding: 25px;
    a {
        padding: 15px;
    }
}